<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <script>
    AOS.init();
  </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<style>
    table{
align:center;
padding-top:120px;}
}
 a{
   }


</style>
<body>
<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <img src="{% static 'images/img.png' %}" height="100px" width="120px">

          <h4 data-aos="zoom-in"  data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">𝕚𝕥'𝕤 𝕟𝕠𝕥 𝕒𝕓𝕠𝕦𝕥 𝕥𝕙𝕖 𝕕𝕣𝕖𝕤𝕤 𝕪𝕠𝕦 𝕨𝕖𝕒𝕣,𝕓𝕦𝕥 𝕚𝕥'𝕤 𝕒𝕓𝕠𝕦𝕥 𝕥𝕙𝕖 𝕝𝕚𝕗𝕖 𝕪𝕠𝕦 𝕝𝕖𝕒𝕕 𝕚𝕟 𝕥𝕙𝕖 𝕕𝕣𝕖𝕤𝕤</h4>


      <form class="d-flex pe-5">
<a href="http://127.0.0.1:8000/sellerapp/sellerreg/"><button class="btn " type="button"><h1><i class="fa-solid fa-user"></i></h1> </button></a>
<a href="http://127.0.0.1:8000/sellerapp/login/"><button class="btn" type="button" >LOGIN</button></a>

</nav>
<div class="container-fluid" style="height:90vh;">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{% static 'images/1.png' %}" class="d-block w-100  pt-5" style="height:90vh;">
    </div>
    <div class="carousel-item mt-5" data-bs-interval="3000">
      <img src="{% static 'images/2.png' %}" class="d-block w-100  pt-5" style="height:90vh;">
    </div>
       <div class="carousel-item " data-bs-interval="3000">
      <img src="{% static 'images/men.png' %}" class="d-block w-100 mt-5 pt-5" style="height:90vh;">
    </div>
       <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'images/women.png' %}" class="d-block w-100 mt-5 pt-5" style="height:90vh;">
    </div>
    <div class="carousel-item"  data-bs-interval="3000">
      <img src="{% static 'images/kids.png' %}" class="d-block w-100 mt-5 pt-5" style="height:90vh;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="container-fluid  pt-5" style="height:90vh;" >
    <div class="row p-5">
        <div class="col-3">
            <div class="card" style="width: 18rem;height:65vh" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
  <img src="{% static 'images/img_4.png' %}"class="card-img-top" style="height:60vh;" alt="...">
  <div class="card-body">


    <h1 align="center"><a href="#" class="btn">🆃🆁🅴🅽🅳🅸🅽🅶 </a></h1>
  </div>
</div>
        </div>
                <div class="col-3">
            <div class="card" style="width: 18rem;height:65vh" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
  <img src="{% static 'images/img_1.png' %}"class="card-img-top" style="height:53vh;" alt="...">
  <div class="card-body">


    <h1 align="center"><a href="#" class="btn">🅼🅴🅽</a></h1>
  </div>
</div>
        </div>
                <div class="col-3">
            <div class="card" style="width: 18rem;height:65vh" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
  <img src="{% static 'images/img_2.png' %}"class="card-img-top"style="height:60vh;" alt="...">
  <div class="card-body">


    <h1 align="center"><a href="#" class="btn">🆆🅾🅼🅴🅽</a></h1>
  </div>
</div>
        </div>
                <div class="col-3">
            <div class="card" style="width: 18rem;height:65vh" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
  <img src="{% static 'images/img_3.png' %}"class="card-img-top" style="height:60vh;"alt="...">
  <div class="card-body">


    <h1 align="center"><a href="#" class="btn">🅺🅸🅳</a></h1>
  </div>
</div>
        </div>
    </div>
</div>
<div class="container-fluid" style="height:90vh;">
    <div class="row px-5 ">
   <video autoplay=""playsinline=""muted=""loop="" <div data-aos="zoom-in-up"  data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">>
            <source src="{% static 'images/Onam special dresses for girls_kerala traditional dress designs _onam dress code 2021.mp4' %} ">
        </video>
</div>
    </div>
    <div class="last">
  <div class="container"style="height:60vh;">
    <div class="row  pt-5">
      <div class="col-lg-9 col-sm-9 m-auto text-center">
        <h1>Join Our Secret Society</h1>
        <input class="input" type="text"placeholder="Enter Your Email">
        <button class="btn1">Submit</button>

      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-sm-12 text-start">
        <h5>CUSTOMER CARE</h5>
        <br>
        <h6>Regular</h6>
        <h6>On Time</h6>
        <h6>Always Care</h6>

      </div>
      <div class="col-lg-3 col-sm-6 text-start">
        <h5>FAQ's</h5>
        <br>
        <h6>N0 E-Charges</h6>
        <h6>Shopping & Delivery</h6>
        <h6>Always Care</h6>
      </div>
      <div class="col-lg-3 col-sm-6 text-start">
        <h5>OUR COMPANT</h5>
        <br>
        <h6>About</h6>
        <H6>New Food</H6>
        <h6>Product</h6>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>SOCIAL MEDIAS</h5>
        <h2><i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-google-plus-g"></i></h2>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>

</div>
 <script>
    AOS.init();
  </script>



</body>
</html>